@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(145, 105, 141);
  background: linear-gradient(
    107deg,
    rgba(145, 105, 141, 0.9196720924698004) 0%,
    rgba(3, 34, 22, 1) 87%,
    rgba(110, 185, 200, 1) 100%
  );
  font-family: "Playfair Display", serif;
}
section.chat-section {
  width: 800px;
  max-width: 90%;
  height: 100vh;
  background: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    position: relative;
    top: 0;
}
.brand {
  padding: 20px;
  background: rgb(32,6,49);
  background: linear-gradient(90deg, rgba(32,6,49,1) 0%, rgba(81,51,6,1) 46%, rgba(206,138,41,0.348243521041229) 100%);
  display: flex;
  align-items: center;
}
.brand h1 {
  /* text-transform: uppercase; */
  font-size: 1.2rem;
  color: rgb(237, 199, 199);
  margin-left: 10px;
}
.brand img {
  height: 40px;
  width: 40px;
}
.message-area {
  height: 500px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 40px;
}
textarea {
  width: 100%;
  border: none;
  padding: 20px;
  font-size: 1rem;
  outline: none;
  background: #362b2b;
  color: white;
  position: absolute;
  bottom: 0px;
  
}
.message {
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 40px;
  min-width: 300px;
  position: relative;
}
.incoming {
  background: #4bb85b;
  color: white;
  margin-right: auto;
}
.outgoing {
  background: #252b93;
  color: white;
  margin-left: auto;
}
.message h4 {
  position: absolute;
  top: -20px;
  left: 0;
  color: #333;
  font-size: 14px;
  text-transform: capitalize;
  color: rgb(58, 67, 44);
}

.one {
  font-size: 1.356rem;
  color: crimson;
}
.two {
  font-size: 1.35rem;
  color: cadetblue;
}
